   h1 {
    // display: flex;
    color: rgb(214, 16, 214);
    text-align: center;
    border: 10px solid powderblue;
    border-bottom: groove;
    
    font-size: xx-large;
   }

   .container {
       background-color: rgb(59, 31, 59);
       opacity: 90%;
       

   }
   .logogif{
    opacity: 70%;
   }
   .logo {
    mix-blend-mode: multiply;
    max-width: 5%;
    max-height: 5%;
    justify-self: center;
    font-size: xx-large;
   }
   .salt {
    max-width: 2%;
    max-height: 2%;
       
   }
   .hackerskull {
    mix-blend-mode: multiply;
   }
   .annon {
    mix-blend-mode: multiply;
    max-width: 5%;
    max-height: 5%;
   
   }
 
   .header2 {
       text-align: center;
      
       color: red;
       opacity: 100%;
   }
 h2 {
      color: blue;
      font-size: xx-large;
      text-shadow: 2px 2px 5px white;
      
  }
  .par {
    font-size: xx-large;
    text-shadow: 2px 2px 5px red;
      
  }
//    .header3 {
//        float: right;
//    }
//    .header4 {
//        float: inline-end;
//    }



